body{
    margin: 0px;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    
}

#name{
    text-align: center;
    color: black;
}

.introduce{
    display: flex;
    justify-content: center;
    align-items: center;
}

#introList{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
}

#mbtiInput{
    color: #1F2937;
    width: 100px;
    height: 20px;
    font-size: 16px;
}